<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Multiple Choice Question Display</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h2>{{ questionData.question }}</h2>
    <form>
      <div v-for="(option, key) in questionData.options" :key="key">
        <input type="checkbox" v-if="allowMultiple" v-model="answers[key]">
        <input type="radio" v-else v-model="answer" :value="key">
        {{ option }}
      </div>
      <button type="button" @click="onShowResult">Show Result</button>
      <button type="button" @click="nextOptionator">Next Optionator</button>
    </form>
    <div v-if="showResult">
      <p v-if="isCorrect">Correct!</p>
      <p v-else>Incorrect.</p>
      <ul>
        <li v-for="(explanation, key) in questionData.explanations" :key="key" v-if="answers[key]">{{ explanation }}</li>
      </ul>
    </div>
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        questionData: null,
        answer: null,
        answers: {},
        allowMultiple: true,
        showResult: false,
      },
      created() {
        this.getQuestionData();
      },
      methods: {
        nextOptionator() {
            this.getQuestionData();
        },
        getQuestionData() {
          fetch('http://localhost:5000/optionator/random')
            .then(response => response.json())
            .then(data => {
              this.questionData = data;
              this.answer = null
              this.answers = {}
              this.allowMultiple = true,
              this.showResult = false
            })
            .catch(error => {
              console.log(error);
            });
        },
        onShowResult() {
            this.showResult = true;
        },
      },
      computed: {
        isCorrect: {
          get() {            
            let userAnswers = [];
            if (this.allowMultiple) {
                userAnswers = Object.keys(this.answers).filter(key => this.answers[key]);
            } else {
                userAnswers.push(this.answer);
            }
            return userAnswers.length == this.questionData.correct_answers.length &&
                userAnswers.every(answer => this.questionData.correct_answers.includes(answer));
          },
        },
      },
    });
  </script>
</body>
</html>
